<!doctype html>
<html>
<head>
    <title>Death Lord Training Camp</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

<body>

        <iframe align="right" width="420" height="315" src="https://www.youtube.com/embed/kn7lSB-hwx0" frameborder="0" allowfullscreen></iframe>

      <p><h1>All Hail the Dark Lord</h1></p>
      <p><h2>Praise Him</h2></p>

      <p><img src="http://media.moddb.com/images/mods/1/17/16533/DarkLord-Big.1.jpg" width="300" /></p>

  <p>The Dark Lord reigns over all. His only wish is for the complete and utter destruction of all things held dear to mankind. The end will come with darkness and pain, fire and blood. Vast armies like the world has never known will descend upon the pitiful human race, rending them asunder. The end is inevitable. The end is near. Praise him or die.

  <hr>

  <p><h2>What to expect when converting</h2>
    <ul>
      <li>A sense of hopelessness and rage that will drive you to great evil and depravity</li>
      <li>A brief sensation of disembowelment</li>
      <li>Visions of agony and sleepless nights</li>
      <li>Rotting undead carcass</li>
      <li>A feeling of belonging to a team, a family.</li>
    </ul>
  </p>

  <hr>

  <p><h2>Top 3 Reasons to Follow the Dark Lord</h2>
    <ol>
      <li><strong>Not</strong> being mutilated by crazed goblins.</li>
      <li><a href="https://en.wikipedia.org/wiki/Greek_underworld">Eternal fields of Death</a></li>
      <li>Full Medical and Dental</li>
    </ol>
  </p>

  <hr>

  <p><h2>Initiation At a Glance</h2>
    <table>
      <tr><th>Activity</th><th>Pain Level</th><th>Risk of Death</th></tr>
      <tr><td>Shower of Broken Glass</td><td>Moderate</td><td>15&percnt;</td></tr>
      <tr><td>Piranha Baptism</td><td>Severe</td><td>55&percnt;</td></tr>
      <tr><td>Feast of Needles</td><td>Excruciating</td><td>75&percnt;</td></tr>
      <tr><td>Introductory Video</td><td>Unbearable</td><td>95&percnt;</td></tr>
    </table>

    <hr>

    <p>Want to know more?
      <form action="http://www.wowhead.com/spell=56249/glyph-of-demon-training">
        <input type="submit" value="Sign up for Free info">
      </form>
      
      <%= link_to 'Check out our About page', about_path %>


</body>
</html>
